<div class="row mb-4">
    <div class="col-12 table_wrap">
        <div class="content_wrap">
            <div class="p-4 search_height">
              <h6 class="m-0 report_heading">Views</h6>
            </div>
            <div>
                <div class="table-responsive">
                  <table class="generaltable dataTable" id="view" data-function = "viewreport" data-id = {{courseid}} data-type = "course" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="table_width">User</th>
                        <th>Video</th>
                        <th># of attempts</th>
                        <th>Status</th>
                        <th>Completed On</th>
                        <th>Last Viewed On</th>
                      </tr>
                    </thead>
                    <tbody>
                  </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
