<div class="stream_block">
	<ul>
		<li>Uploaded videos: {{uploadedVideos}}</li>
		<li>Synced videos: {{syncedVideos}}</li>
		<li>Total videos: {{totalVideos}}</li>
	</ul>
	{{# viewcap}}
	<a href="{{config.wwwroot}}/blocks/stream/index.php" class="pull-right">View more</a>
	{{/ viewcap}}
</div>