<video src="{{streamurl}}" data-title='{{title}}' id="rendervideo_{{id}}" class="stream_video video-js vjs-default-skin vjs-big-play-centered vjs-layout-medium" autoplay 
controls preload="auto" width="450" height="250"></video>