<table id="{{tableid}}" class="dataTable generaltable" data-function='{{function}}' data-pagelength='10' data-nodatastring="{{nodatastring}}">
	<thead style='display:none'>
		<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
	</thead>
</table>
